/* .App {
  width: 100%;
  text-align: center;
  padding: 1rem;
} */

.canvas-container {
  width: 100%;
  text-align: center;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  cursor: crosshair;
}

.canvas-container.component-on-hover {
  cursor: zoom-in;
}

.canvas-container .main {
  width: 80%;
}

.canvas-container .zoom {
  width: 20%;
}