/* .App {
  width: 100%;
  text-align: center;
  padding: 1rem;
} */

.canvas-container {
  width: 100%;
  text-align: center;
  padding: 1rem;
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1; */
  margin: 0 auto;

  cursor: crosshair;
}

.canvas-container.component-on-hover {
  cursor: zoom-in;
}

.canvas-container .main {
  width: 100%;
}

/* center in screen */
.canvas-container .main canvas {
  display: block;
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
}

.canvas-container .positionInfo {
  width: 100%;
}

code, kbd, pre {
  font-family: monospace;
}

pre > code {
  white-space: pre;
  box-decoration-break: clone;
  border-radius: .2rem;
}

.ui.basic.modal {
  border: 1px solid rgba(255, 255, 255, .3);
}

.component-modal img {
  cursor: zoom-out;
}

.component-detail {
  width: 100%;
  margin: auto;
}

.component-detail img {
  display: block;
  max-width: 100%;
  width: auto;
  margin: auto;
}